html, body, .container-fluid, .row {
	height: 100%;
}

.container-fluid {
	overflow: hidden;
}

body {
	background-color: #e6e6e6;
}

.sidebar {
	background-color: #8FBC8E;
	position: relative;
	height: 100%;
	font-weight: bold;
}

.jumbotron {
	text-align: center;
	background-color: #F5DFB3;
}

.sidebar h3 {
	color: #F5DFB3;
}

.sidebar p {
	color: #fff;
}

ol {
	display: inline-block;
}

#pingPongButton {
	background-color: #B6BFC5;
}