/****************************
GENERAL
*****************************/

html, body, .container-fluid, .row {
	height: 100%;
}

ol {
	display: inline-block;
}

/****************************
HEADING
*****************************/

.jumbotron {
	text-align: center;
}

/****************************
SIDEBAR
*****************************/

.sidebar {
	position: relative;
	height: 100%;
	font-weight: bold;
}

/****************************
COLORS
*****************************/

.jumbotron {
	background-color: #f5dfb3;
}

body {
	background-color: #e6e6e6;
}

.sidebar {
	background-color: #8fbc8e;	
}

.sidebar h3 {
	color: #f5dfb3;
}

.sidebar p {
	color: #fff;
}

#pingPongButton {
	background-color: #b7b7b7;
}